.terraform
*.tfstate
*.tfstate.backup
/.idea/.gitignore
/AWS Cloud Fundamentals/01-launch-ec2-instance/.terraform.lock.hcl
/AWS Cloud Fundamentals/02-create-ebs-volume/.terraform.lock.hcl
/.idea/audacitynanodegreecloud-developer.iml
/.idea/aws.xml
/.idea/cody_history.xml
/.idea/modules.xml
/.idea/vcs.xml
/AWS Cloud Fundamentals/03-module-vpc/.terraform.lock.hcl
/AWS Cloud Fundamentals/04-basic-lambda-function/.terraform.lock.hcl
/AWS Cloud Fundamentals/05-create-lambda-function-with-S3bucket/.terraform.lock.hcl
/AWS Cloud Fundamentals/06-create-s3-with-sampletext/.terraform.lock.hcl
/AWS Cloud Fundamentals/07-create-dynamodbtable/.terraform.lock.hcl
/AWS Cloud Fundamentals/08-create-a-noSQLdatabase/.terraform.lock.hcl
/AWS Cloud Fundamentals/08-create-a-noSQLdatabase/.terraform.tfstate.lock.info
/AWS Cloud Fundamentals/09-create-a-MySQLDatabase/.terraform.lock.hcl
/AWS Cloud Fundamentals/10-create-S3website-with-CloudFront/.terraform.lock.hcl
/AWS Cloud Fundamentals/11-create-autoscaling-group-launch-template/.terraform.lock.hcl
/AWS Cloud Fundamentals/11-create-autoscaling-group-launch-template/.terraform.tfstate.lock.info
/AWS Cloud Fundamentals/11.1-create-a-load-balancer-with-defaultvpc/.terraform.lock.hcl
/AWS Cloud Fundamentals/11.1-create-a-load-balancer-with-defaultvpc/.terraform.tfstate.lock.info
/AWS Cloud Fundamentals/12-create-an-sns-alert/.terraform.lock.hcl
/AWS Cloud Fundamentals/13-create-sqs-queue-terraform/.terraform.lock.hcl
/AWS Cloud Fundamentals/14-create-cluster-fargate/.terraform.lock.hcl
/AWS Cloud Fundamentals/15-aws-cloudtrail-module/.terraform.lock.hcl
