.terraform
*.tfstate
*.tfstate.backup
/.idea/.gitignore
/code/01-launch-ec2-instance/.terraform.lock.hcl
/code/02-create-ebs-volume/.terraform.lock.hcl
/.idea/audacitynanodegreecloud-developer.iml
/.idea/aws.xml
/.idea/cody_history.xml
/.idea/modules.xml
/.idea/vcs.xml
/code/03-module-vpc/.terraform.lock.hcl
/code/04-basic-lambda-function/.terraform.lock.hcl
